$purple : #242582;
$orange : #F64C72;
$lightpurple : #553d67;
$lightpurple2: #99738e;
$blue: #2f2fa2;




@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

$primaryFont: 'Roboto Condensed', sans-serif;